<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhanglei.dao.ArticleDao">
	   <!-- 查询文章列表 deleted状态为0的 -->
  <select id="list" resultType="Article">
		select a.id,a.title,a.created,u.username,a.commentCnt,a.status 
		from cms_article a LEFT JOIN cms_user u on a.user_id =u.id
	 
	       
	  		<where>
	 			<if test="startDate!=null and startDate!=''">
	 				and a.created &gt; #{startDate}
	 			</if>
	 			<if test="endDate!=null and endDate!=''">
	 				and a.created &lt; #{endDate}
	 			</if>
	 			
	 		</where>
			<if test="condition!=null and condition!=''">
		          order by ${condition} desc
		       </if>
	
	</select>
</mapper>